Library/
Temp/
obj/
outPath/
Logs/
.vs/
.utmp/
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
SOC.sln
Assets/XLua/Gen/
Assets/StreamingAssets/
Assets/AssetBundles.xml
Assets/Resources/@Lua/_Common
Assets/Resources/@Lua/_NetMsg
Common/Lua/_Common/*.lua
Common/Lua/_NetMsg/*.lua
Server/SOC/
Server/SOC/*.*